body{
  background-color:white;
    font-family: 'Inter', sans-serif;
}

p{
  color:black;
  text-align : center;
}
h1{
  color:black;
    text-align: center;
  font-size: 48px;
}

h2{
  color:black;
  font-size: 24px;
}
